<?xml version="1.0" encoding="utf-8" ?>
<Options xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<Applications>
		<!-- Win -->
		<Application
			Name="Things03Win"
			FileName="[WinAppBin]\Things03.Win.exe"
			AdapterFileName="[WinAdapterFileName]"
			CommunicationPort="4100"/>
	</Applications>
	<TestDatabases>
		<Database xsi:type="TestMSSQLDatabase" Server="(localdb)\mssqllocaldb" DBName="Things03EasyTest"/>
	</TestDatabases>

	<Aliases>
		<Alias Name="WinAdapterFileName" Value="[WinAppBin]\DevExpress.ExpressApp.EasyTest.WinAdapter.v21.2.dll" />
		<Alias Name="WinAppBin" Value="[ConfigPath]\..\..\Things03.Win\Bin\EasyTest\net5.0-windows" />
	</Aliases>
</Options>
